@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

:root {
  --monte-blue: #0290ff;
  --thin-border: thin solid gray;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: #000;
}
