.header {
  padding: 16px 30px;
  border-bottom: thin solid;
  margin-inline: 19px;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 60px;
        margin-right: 24px;
      }
    }

    .nav-links {
      display: flex;

      a {
        display: block;
        color: #0e34ff;

        &:not(:last-of-type) {
          margin-right: 16px;
        }

        &:last-of-type {
          border-left: thin solid black;
          padding-left: 18px;
        }
      }
    }
  }
}

.active {
  text-decoration: underline;
}
